{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="mainContainer loginMain">
        {% if error %}
            <div class="row mt-4 justify-content-center">
                <div class="alert alert-danger col-md-6">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        {% endif %}
        <div class="form-container mx-auto">
            <form method="post" class="loginForm">

                {#    {% if app.user %}#}
                {#        <div class="mb-3">#}
                {#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
                {#        </div>#}
                {#    {% endif %}#}

                <h1 class="h1 mb-3">Connexion</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <a href="{{ path('app_forgot_password_request') }}">J'ai oublié mon mot de passe</a>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>


                <button class="btn btn-dark align-self-lg-center w-50" type="submit">
                    Se connecter
                </button>
            </form>
        </div>

    </div>

{% endblock %}
