{% extends 'base.html.twig' %}

{% block title %}Profil!{% endblock %}

{% block body %}
    <div class="mainContainer">
        <div class="container emp-profile backgroundProfile">
            <form method="post">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="profile-img">
                            <img style="max-width: 290px;  border-radius: 50px"
                                 src="{{ asset('upload/') }}{{ app.user.profilPicture }}"
                                 alt=""/>
                        </div>
                        <div class="clas row">
                            <div class="offset-3 col-md-9">
                                <a href="{{ path('app_profil_settings', {'id': app.user.id}) }}"
                                   class="profile-edit-btn btn btn-primary">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="profile-head  profilInfo">
                            <h3 class="profilInfo">
                                {{ app.user.prenom }} <br>{{ app.user.nom }}
                            </h3>
                            <h5 class="profilInfo">
                                <i class="fa fa-birthday-cake"></i> : {{ app.user.age }} ans
                            </h5>
                            <H5 class="profile-rating  profilInfo">Note : <span> {{ app.user.note }}</span>/10</H5>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active buttonProfile"
                                       id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true"><h4><i class="fa fa-user"></i></h4></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  buttonProfile"
                                       id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false"><h4><i class="fa fa-bitcoin"></i></h4></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="profile-work  description">
                            <h3>Description:</h3>  <br> {{ app.user.description }}
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row  profilInfoInt">
                                    <div class="col-lg-2">
                                        <h5><i class="fa fa-user fa-2x"></i></h5>
                                    </div>
                                    <div class="col-lg-3">
                                        <h5>{{ app.user.username }} {{ app.user.sitter_verifie }}</h5>
                                    </div>
                                </div>
                                <div class="row  profilInfoInt">
                                    <div class="col-lg-2">
                                        <h5><i class="fa fa-at fa-2x"></i></h5>
                                    </div>
                                    <div class="col-lg-3">
                                        <h5>{{ app.user.email }}</h5>
                                    </div>
                                </div>
                                <div class="row profilInfoInt">
                                    <div class="col-lg-2">
                                        <h5><i class="fa fa-mobile fa-2x"></i></h5>
                                    </div>
                                    <div class="col-lg-5">
                                        <h5>{{ app.user.telephone }} 06 99 99 99 99</h5>
                                    </div>
                                </div>
                                <div class="row profilInfoInt">
                                    <div class="col-lg-2">
                                        <h5><i class="fa fa-home fa-2x"></i></h5>
                                    </div>
                                    <div class="col-lg-3">
                                        <h5>{{ app.user.adresse }} {{ app.user.city }} {{ app.user.ville }}</h5>
                                    </div>
                                    <div class="row  profilInfoInt">
                                        <div class="col-lg-3">
                                            <div><img class="addPet" src="{{ asset('images/cat-stroke.jpg') }}"
                                                      alt=""/></div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div><img class="addPet" src="{{ asset('images/dogprofil.jpg') }}"
                                                      alt=""/></div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div><img class="addPet" src="{{ asset('images/dogBckProfil.jpg') }}"
                                                      alt=""/></div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="addPetPlus"><a href="#"><i class="fa fa-plus"></i></a></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row  profilInfoInt">
                                    <div class="col-md">
                                        <h5>Tarifs : </h5>
                                    </div>
                                    <div class="col-md">
                                        <h5>{{ app.user.tarif }} €</h5>
                                    </div>
                                </div>
                                <div class="row profilInfoInt">
                                    <div class="col-md">
                                        <h5>Hourly Rate</h5>
                                    </div>
                                    <div class="col-md">
                                        <h5>10$/hr</h5>
                                    </div>
                                </div>
                                <div class="row  profilInfoInt">
                                    <div class="col-md">
                                        <h5>Total Projects</h5>
                                    </div>
                                    <div class="col-md">
                                        <h5>230</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% block javascripts %}

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}

{% endblock %}

