{% extends 'base.html.twig' %}
{% block title %}
    Bienvenue
{% endblock %}
{% block body %}


    <div class="main-banner" >
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-8">
                    <div class="top-text header-text">
                        <h6>Plus de 10 000 sitters à votre service</h6>
                        <h2>Confiez vos animaux à nos sitters vérifiés
                            en toute sérénité</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <form id="search-form" class="home-search" name="gs" method="submit" role="search" action="{{ path('searchResults') }}">
                        <div class="search-row row">
                            <div class=" col-lg-2 align-self-center">
                                <p class="input-header">
                                    Je recherche
                                </p>
                                <fieldset>
                                    <select name="role" class="form-select" aria-label="Role" id="chooseRole"
                                            onchange="this.form.click()">
                                        <option selected value="sitter">Un Sitter</option>
                                        <option value="master">Un Master</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-2 align-self-center">
                                <p class="input-header">
                                    Autour de
                                </p>
                                <fieldset>
                                    <input type="text" name="location" class="searchText" placeholder="Lisieux, Evreux..." autocomplete="on" required>

                                </fieldset>
                            </div>
                            <div class="col-lg-2 align-self-center">
                                <p class="input-header">
                                    De
                                </p>
                                <fieldset>
                                    <input type="date" name="start-date">
                                </fieldset>
                            </div>
                            <div class="col-lg-2 align-self-center">
                                <p class="input-header">
                                    A
                                </p>
                                <fieldset>
                                    <input type="date" name="end-date" class="searchText">
                                </fieldset>
                            </div>
                            <div class="col-lg-2 align-self-center">
                                <p class="input-header">
                                    Mon budget max
                                </p>
                                <fieldset>
                                    <input type="text" placeholder="100€" name="budget">
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset class="search-button-fieldset">
                                    <button class="main-button" id="matchMakingBtn"><i class="fa fa-search"></i> Rechercher</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% set firstList = listAnnonce[0:] %}
    {% set secondList = listAnnonce[3:] %}
    {% set thirdList = listAnnonce[6:] %}
    <div class="recent-listing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Annonce garde d'animaux</h2>
                        <h6>Regardez ce qu'il vous plaît</h6>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="owl-carousel owl-listing">

                        <div class="item">
                            <div class="row">
                                {% for annonce in firstList[:3] %}
                                    <div class="col-lg-12">
                                        <div class="listing-item">
                                            <div class="left-image">
                                                <a href="#"><img style="max-height: 380px; max-width: 500px" src="{{ asset('upload/') }}{{ annonce.master.profilPicture }}" alt=""></a>
                                            </div>
                                            <div class="right-content align-self-center">
                                                <a href="#"><h4>{{ annonce.title }}. {{ annonce.master.prenom }} {{ annonce.master.nom }}</h4></a>
                                                <h6>par: SitMyPet.fr</h6>
                                                <span class="price"><div class="icon"><img
                                                                src="{{ asset('images/listing-icon-01.png') }}" alt=""></div>{{ annonce.master.tarif }} / jours</span>
                                                <span class="details">Details: <em>{{ annonce.description }}</em></span>
                                                <ul class="info">
                                                    {% for pet in annonce.pets | slice(0,3) %}
                                                            <li><a href="#"><i class="fa fa-paw"></i> {{ pet.nickname }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="main-white-button">
                                                    <a href="{{ path('contactFromAnnonce', {'id': app.user.id}) }}"><i class="fa fa-eye"></i> Me contacter</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                {% for annonce in secondList[:3] %}
                                    <div class="col-lg-12">
                                        <div class="listing-item">
                                            <div class="left-image">
                                                <a href="#"><img style="max-height: 380px; max-width: 500px" src="{{ asset('upload/') }}{{ annonce.master.profilPicture }}" alt=""></a>
                                            </div>
                                            <div class="right-content align-self-center">
                                                <a href="#"><h4>{{ annonce.title }}. {{ annonce.master.prenom }} {{ annonce.master.nom }}</h4></a>
                                                <h6>par: SitMyPet.fr</h6>
                                                <span class="price"><div class="icon"><img
                                                                src="{{ asset('images/listing-icon-01.png') }}" alt=""></div>{{ annonce.master.tarif }} / jours</span>
                                                <span class="details">Details: <em>{{ annonce.description }}</em></span>
                                                <ul class="info">
                                                    {% for pet in annonce.pets | slice(0,3) %}
                                                        <li><a href="#"><i class="fa fa-paw"></i> {{ pet.nickname }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="main-white-button">
                                                    <a href="{{ path('contactFromAnnonce', {'id': app.user.id}) }}"><i class="fa fa-eye"></i> Me contacter</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                {% for annonce in thirdList[:3] %}
                                    <div class="col-lg-12">
                                        <div class="listing-item">
                                            <div class="left-image">
                                                <a href="#"><img style="max-height: 380px; max-width: 500px" src="{{ asset('upload/') }}{{ annonce.master.profilPicture }}" alt=""></a>
                                            </div>
                                            <div class="right-content align-self-center">
                                                <a href="#"><h4>{{ annonce.title }}. {{ annonce.master.prenom }} {{ annonce.master.nom }}</h4></a>
                                                <h6>par: SitMyPet.fr</h6>
                                                <span class="price"><div class="icon"><img
                                                                src="{{ asset('images/listing-icon-01.png') }}" alt=""></div>{{ annonce.master.tarif }} / jours</span>
                                                <span class="details">Details: <em>{{ annonce.description }}</em></span>
                                                <ul class="info">
                                                    {% for pet in annonce.pets | slice(0,3) %}
                                                        <li><a href="{{ path('contactFromAnnonce', {'id': app.user.id}) }}"><i class="fa fa-paw"></i> {{ pet.nickname }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="main-white-button">
                                                    <a href="#"><i class="fa fa-eye"></i> Me contacter</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}